// COLORS
$primary-color: #eddba5;
$secondary-color: #ebddb5;
//#eddba5 rgba(153, 213, 241, 0.863)
// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #ffff;

$dark-grey: rgba(153, 213, 241, 0.863);
// #333333;

$dark-blue-text: rgba(153, 213, 241, 0.863); // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
